.portfolioInnerPage_parent_div {
  margin-top: 160px;
}

.portfolioInnerPage_parent_div h1 {
  margin-bottom: 30px;
}

.portfolioInnerPage_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
  gap: 20px;
}
.portfolioInnerPage_grid_div div {
  border: 1px solid gray;
  padding: 20px;
}
.portfolioInnerPage_grid_div div img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .portfolioInnerPage_grid_div {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }
}
@media screen and (max-width: 1100px) {
  .portfolioInnerPage_parent_div {
    margin-top: 100px;
  }
}
@media screen and (max-width: 750px) {
  .portfolioInnerPage_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 624px) {
  .portfolioInnerPage_parent_div button {
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .portfolioInnerPage_parent_div {
    margin-top: 80px;
  }
  .portfolioInnerPage_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 350px) {
  .portfolioInnerPage_parent_div button {
    width: 70%;
  }
}
