.secondSection_parent_div {
  margin-top: 50px;
}
.secondSection_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  gap: 50px;
  margin: auto;
}
.secondSection_grid_div div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}
.secondSection_grid_div div h2 {
  margin-bottom: 10px;
}
.secondSection_grid_div div p {
  margin-top: 10px;
}
.secondSection_grid_div div img {
  width: 100%;
}
.secondSection_grid_div div {
  text-align: left;
}
@media screen and (max-width: 1300px) {
  .secondSection_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1060px) {
  .secondSection_grid_div {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
  .secondSection_grid_div {
    grid-template-columns: 1fr;
  }
}
