.portfolioInnrePage_parent_div {
  margin-top: 150px;
  margin-bottom: 100px;
}
.portfolioInnrePage_parent_div h1 {
  margin-bottom: 30px;
}
.portfolioInnerPage_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
  gap: 20px;
}
.portfolioInnerPage_grid_div div {
  /* background-color: rgb(179, 179, 179); */
  border: 1px solid gray;
  padding: 20px;
}
.portfolioInnerPage_grid_div div img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .portfolioInnerPage_grid_div {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }
}
@media screen and (max-width: 750px) {
  .portfolioInnerPage_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .portfolioInnerPage_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
