.navigation_main_parent_div {
  font-family: Roboto, sans-serif;
}
.navigation_flex_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  /* background-color: red; */
  height: 50px;
}
.navigation_flex_div img {
  width: 75%;
}
.navigation_child_flex_div {
  display: flex;
  align-items: center;
  gap: 35px;
}
.navigation_icon {
  color: #00b7ff;
}
.navigation_number_div {
  background-color: #ff512f;
  padding: 15px;
  height: 20px;
  color: white;
}

/* NAVIGATION LOWER PART START */
.navigation_lower_part_div {
  background-color: #00b7ff;
  color: white;
  padding: 20px;
}
.navigation_lower_part_div ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  gap: 0;
}
.navigation_lower_part_div ul li {
  list-style: none;
}
