.fifthSection_parent_div {
  margin: auto;
  margin-top: 100px;
  /* text-align: left; */
  width: 85%;
}
.fifthSection_parent_div h2 {
  text-align: left;
  margin-left: 145px;
  margin-bottom: -10px;
}
.fifthSection_first_p {
  text-align: left;
  margin-left: 145px;
  margin-bottom: -20px;
}
.fifthSection_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fifthSection_first_flex_div {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.fifthSection_text_number_div {
  text-align: left;
}
.fifthSection_number_div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.fifthSection_font_icon_div {
  background-color: #1f8ceb;
  color: white;
  padding: 15px;
  margin-top: 8px;
}
.fifthSection_blank_div {
  background-color: black;
  height: 100px;
  width: 2px;
  margin-left: 50px;
}
.or {
  margin-left: 42px;
}
.fifthSection_input_div {
  text-align: left;
}
.input {
  margin-right: 20px;
  padding: 16px;
  width: 40%;
}
.fifthSection_btn_flex_div {
  display: flex;
  align-items: center;
  gap: 100px;
}
.fifthSection_btn_flex_div p {
  line-height: 8px;
}
.fifthSection_sub_btn {
  border: none;
  background-color: #ff512f;
  color: white;
  padding: 30px;
  width: 170%;
}
